
<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<body> 
<% if(title == "home"){ %>
   <%- include('./partials/homepage.ejs') %>
 <% } %>
 
<% if(title == "projects"){ %>
   <%- include('./partials/projects.ejs') %>
 <% } %>

<% if(title == "contact me"){ %>
   <%- include('./partials/contactme.ejs') %>
 <% } %>

<% if(title == "about me"){ %>
   <%- include('./partials/aboutme.ejs') %>
 <% } %>
</body> 

<%- include('./partials/footer.ejs') %>
  <!--script files-->

  <script src = "/Scripts/app.js"></script>
  <script src = "/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  
</body>
</html>
